* {
    margin: 0;
    padding: 0;
    }

/* Navbar Styling */

#navbarMainStyling {
    background: #fff;
}

#brandNameStyling {
    background-color: #4aaaa5;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.active a {
    color: black;
}


