/* Global Styling */

* {
    margin: 0;
    padding: 0;
    }

html {
    overflow-y: scroll; /* This code stops the page from moving when clicking on a new link */
}
    

.active a {
    color: black;
}

body {
    background-color:#ebebeb;
}

h1 {
    color: #4aaaa5;
    padding-bottom: 20px;
    font-weight: bold;
    line-height: 50px;
    border-bottom: 3px solid #ebebeb;
    font-family: Georgia, Times, "Times New Roman", serif;
}

/* Navbar Styling */

#navbarMainStyling {
    background: #fff;
}

#brandNameStyling {
    background-color: #4aaaa5;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.nav-item {
    font-weight: 500;
}

/* Index Page Styling */

#profilePicture {
    padding-right: 20px;
}

/*#indexBody {
    padding-top: 75px;
    padding-bottom: 55px;
}*/

#indexBodyContent {
    padding-top: 10px;
}

/* Contact Page Styling */

.form-group {
    width: 80%;
    margin-left: 10px;
    font-weight: 500;
}

#submitButton {
    background-color: #4aaaa5;
    color: #fff;
    border-radius:0px;
    border-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 18px;
    padding-left: 18px;
}

/* Footer Styling */

#footerSection {
    padding-top: 10px;
    font-size: 20px;
    color:#4aaaa5;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
  }

  ul#socialList li {
    display:inline
  }

  #socialList {
      font-size: 30px;
  }

